{% extends "layout.html" %}
  
{% block content %}
  <h2>About</h2>
  <p>This is an About page for the Intro to Flask article. Don't I look good? Oh stop, you're making me blush.</p>

  <div style="width:600px;height:300px;-webkit-border-radius: 11px 50px 50px 50px;-moz-border-radius: 11px 50px 50px 50px;border-radius: 11px 50px 50px 50px;background:rgba(109,113,115,0.2);-webkit-box-shadow: #B3B3B3 20px 20px 20px;-moz-box-shadow: #B3B3B3 20px 20px 20px; box-shadow: #B3B3B3 20px 20px 20px;"><h3>CITE</h3> This is it.</div>
{% endblock %}
