{% extends "layout.html" %}
{% block content %}
<div class="jumbo">
	<h3><a href="https://dl.dropboxusercontent.com/u/75845627/buildsys.pdf">Author version</a></h3>
</div>	<br/><br/>
<div class="jumbo">
	<h3>Citation</h3>

	<ol>
		<li>Bibtex:<br/> @inproceedings{batra2013_buildsys,<br/>
			title={It’s Different: Insights into home energy consumption in India},<br/>
			author={Batra, Nipun and Gulati, Manoj and Singh, Amarjeet and Srivastava, Mani B.},<br/>
			booktitle = {Proceedings of the Fifth ACM Workshop on Embedded Sensing Systems for Energy-Efficiency in Buildings},<br/>
			series = {BuildSys '13},<br/>
			year = {2013}
		}</li><br/>
		<li>MLA:<br/>
			Batra, Nipun, Gulati, Manoj, Singh, Amarjeet, Srivastava, Mani B. </br>
			"It’s Different: Insights into home energy consumption in India"<br/>
			ACM Workshop on Embedded Sensing Systems for Energy-Efficiency in Buildings, Proceedings of the Fifth (2013)<br/>

		</div>
		<br/>
	<div class="jumbo">
	<h3>Contact</h3>
	<p align="center">nipunb@iiitd.ac.in</p>
	</div>
		{% endblock %}
