<!DOCTYPE html>
<html>
<head>
	<title>iAWE</title> 
	<link rel="stylesheet" href="{{url_for('static',filename='css/reveal.min.css')}}">
	<link rel="stylesheet" href="/static/css/theme/default.css" id='theme'>

	<!-- For syntax highlighting -->
	<link rel="stylesheet" href="{{url_for('static',filename='lib/css/zenburn.css')}}">
	<head>
		<body>





			<div class="reveal">

				<!-- Any section element inside of this container is displayed as a slide -->
				<div class="slides">
					<section>

						<h2>Insights into home energy consumption in India</h2>
						<p>
							November 14, 2013<br/>
							Buildsys 2013<br/><br/>

							<b><a href="http://www.nipunbatra.wordpress.com">Nipun Batra</a> </b>
							<a href="http://iiitd.ac.in"> (IIIT Delhi)</a><br/>
							<a href="http://www.manojgulati.wordpress.com">Manoj Gulati</a> </b>
							<a href="http://iiitd.ac.in"> (IIIT Delhi)</a><br/>
							<a href="http://www.iiitd.edu.in/~amarjeet">Amarjeet Singh</a> </b>
							<a href="http://iiitd.ac.in">(IIIT Delhi)</a><br/>
							<a href="http://nesl.ee.ucla.edu/people/mbs/">Mani Srivastava</a> </b>
							<a href="http://ucla.edu">(UCLA)</a>

						</p>
						<a href="http://iiitd.ac.in"><img src="static/img/iiitd.png" width="200" height="200"></a>
						<a href="http://ucla.edu"><img src="static/img/ucla.jpg" width="200" height="200"></a>
					</section>


					<!--Backup slides-->
					<!--<section>
						<h3>Motivation</h3>
						<img src="static/img/map.gif">
						<ol>
							<li>Existing residential deployments in developed countries</li>
							<li> Aim to characterize unique features of our deployment and their implications on system design 
							</ol>
						</section>
						-->


						<section>
							<h3>Motivation</h3>
							<iframe width="800" height="500" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="http://www.google.com/publicdata/embed?ds=kthk374hkr6tr_&amp;ctype=m&amp;strail=false&amp;bcs=d&amp;nselm=s&amp;met_c=indicator_103106&amp;scale_c=lin&amp;ind_c=false&amp;ifdim=country&amp;tunit=Y&amp;pit=1320206400000&amp;hl=en_US&amp;dl=en&amp;ind=false&amp;xMax=170.07678250000004&amp;xMin=-50.704467499999964&amp;yMax=-58.85339473903225&amp;yMin=71.61183808246297&amp;mapType=t&amp;icfg"></iframe>
							<ol>
							<li>Existing residential deployments in <b>developed</b> countries</li>
							<li> Aim to characterize unique features of <b>Indian</b> deployment and their implications on system design 
							</ol>
						</section>
						<!--
					<section>
						<h3>Motivation</h3>
						<img src='static/img/developing_vs_developed.png' height="75%" width="75%">
						<ol>
							<li>Existing residential deployments in developed countries</li>
							<li> Aim to characterize unique features of our deployment and their implications on system design 
							</ol>
						</section>
						-->


						<section>
							<h3>Overall Home Deployment</h3>
							<img src="{{url_for('static',filename='img/overall_deployment.png')}}" height="230%" width="230%"/>
						</section>

						<section>
							<img src="static/img/electric_meter_2.jpg" height="35%" width="35%">
							<img src="static/img/ct_interference.jpg" height="35%" width="35%">
							<img src="static/img/jplug.jpg" height="35%" width="35%">


							<h3>Electricity sensing</h3>	
							<ol>
								<li>Smart meter at <b>Mains</b> level</li>
								<li><b>Circuit</b> panel monitors</li>
								<li><b>Appliance</b> level monitors</li>
								<ol>
								</section>

								<section>
									<img src="static/img/water_distribution.jpg" height="35%" width="35%">
									<img src="static/img/water_meter.jpg" height="35%" width="35%">

									<h3>Water sensing</h3>
									Used analog pulse based sensors at:<br/>
									<ol>
										<li>Supply</li>
										<li>Outlet (Overhead tank)</li>
									</ol>
								</section>

								<section>
									<img src="static/img/ambient.jpg" height="35%" width="35%">
									<h3>Ambient sensing</h3>
									Used ZWave based multisensors and Android phones to monitor:<br/>
									<ol>
										<li>Light</li>
										<li>Temperature</li>
										<li>Motion</li>
										<li>Sound level</li>
										<li>Nearby bluetooth, WiFi, Cell-tower</li>
									</ol>
								</section>

								<section>
									<h3>Unique features in India- Unreliable grid</h3>
									<h4>Voltage fluctuations</h4>
									<img src="static/img/us_voltage_box.png" height="30%" width="30%">
									<img src="static/img/voltage_box.png" height="30%" width="30%">


								</section>

								<section>
									<h3>Unique features in India- Unreliable grid</h3>
									<h4>Blackouts</h4>
									<img src="static/img/electricity.png" height="50%" width="45%">
									<img src="static/img/failure_durations.png" height="50%" width="45%">
									
								</section>
								<section>
								<h3>Unique features in India- Unreliable grid</h3>
									<h4>Learning</h4>
								<ol>
								<li><b>System Design:</b> System should be capable of resuming in same state as it was before outage</li>
								<li><b>Inferences:</b> Voltage needs to be measured (in addition to current) and cannot be assumed constant (applications in NILM)</li>
								</ol>
									
								</section>

								<section>
									<h3>Unique features in India- Unreliable network</h3>
									<h4>Internet</h4>
									<img src="static/img/network.png" height="50%" width="45%">
									<img src="static/img/network_hist.png" height="50%" width="45%">
									
								</section>

								<section>
									<h3>Unique features in India- Unreliable network</h3>
									<h4>Learning</h4>
									<ol>
								<li><b>System Design:</b> System should account for unreliable internet </li>
								<li>We did the same by using "Local storage"- Each RPi would store data locally and periodically upload data outside</li>
								<li>As a result, we lost no data due to unreliable network</li>
					
								</ol>						
									
								</section>
								<section>
									<h3>Unique features in India- Load specifics</h3>
									<ol>
									<li><b>Decentralized control:</b> Room level ACs, bathroom level water heating</li>
									<li>About <b>60%</b> of total load can be attributed to AC (in summer) and water heater (in winter)</li>
									<li>Fairly easy to disaggregate high percentage of total energy</li>
									</ol>
									<iframe height="420" id="igraph" scrolling="no" seamless="seamless" src="https://plot.ly/~nipun.batra.1/7/800/400" width="860"></iframe>

								</section>

								<section>
								<h3>
								iAWE Dataset</h3>
								<hr>
								Need to add content here about dataset stats. Any suggestions to
								make the numbers interesting?


								</section>


								

							
						

			


			<section>
				<h1>Thank You</h1>
				<h3>Acknowledgements</h3>
				<ol>
					<li> NSF-DEIty for project support</li>
					<li> Milan Jain (MS IIITD) and Shailja Thakur (MS IIITD) for deployment support</li>
					<li>Ofcourse- my family for bearing the deployment and living in fear that I may blow up something!</li>
					<hr>
					<p align="center"><h2><a href="../">Dataset Demo</a></h2></p>
				</section>

			</div>

		</div>

		<script src="{{url_for('static',filename='lib/js/head.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/reveal.min.js')}}"></script>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: 'beige', // available themes are in /css/theme
				transition: 'linear',
				//Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
				{ src: "{{url_for('static',filename='lib/js/classList.js')}}", condition: function() { return !document.body.classList; } },
				{ src: "{{url_for('static',filename='plugin/markdown/marked.js')}}", condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: "{{url_for('static',filename='plugin/markdown/markdown.js')}}", condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: "{{url_for('static',filename='plugin/highlight/highlight.js')}}", async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
				{ src: "{{url_for('static',filename='plugin/zoom-js/zoom.js')}}", async: true, condition: function() { return !!document.body.classList; } },
				{ src: "{{url_for('static',filename='plugin/notes/notes.js')}}", async: true, condition: function() { return !!document.body.classList; } }
				]
			});
		function currentPageFormatter(event) {
var formattedStr;
if (event.indexh === 0) {
return "";
}
 
formattedStr = event.indexh;
 
if (event.indexv) {
formattedStr += "/" + event.indexv;
}
 
return formattedStr;
}
 
Reveal.addEventListener( 'ready', function( event ) {
$('<aside class="controls slide-number" style="display: block; left: 10px; right: initial;bottom: -30px; text-align: center;"></aside>')
.text(currentPageFormatter(event))
.appendTo('.reveal.center');
} );
 
// Fires each time a new slide is activated
Reveal.addEventListener( 'slidechanged', function( event ) {
// event.previousSlide, event.currentSlide, event.indexh, event.indexv
$(".slide-number").text(currentPageFormatter(event));
} );

</script>
</body>

</html>		

